html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

  .navbar{
    background-color: #d31289 !important;
  }

body {
  margin-bottom: 60px;
  background: rgb(255,176,188);
  background: linear-gradient(90deg, rgba(255,176,188,0.5691526610644257) 0%, rgba(255,176,188,0.36747198879551823) 100%);
}

.rosa
{
  background-color: #d31289;
}
.rosa:hover{
  background-color: #d31289b1;
}

.carousel-item > img{
  height: 60vh;
}

.card {
  height: 400px;
}